.product_listing {
	background: var(--bg);
	padding: 24px 16px;
}
.product {
    cursor: pointer;
    height: 100%;


    &_detail {
        border-top: 1px solid #e0e0e0;
        padding: 8px !important;
    }


    &_title {
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 8px;
        font-weight: 500;
        color: #404553;


        &__text {
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-height: 1.6em;
        }
    }


    &_pricing {
        font-size: 11px;
        
        
        .new-price {
            font-size: 20px !important;
        }
    }
}
